<!--Article Details-->
<div class="container-fluid article-details pt-5">
    <h1 class="pt-5 pb-4">Channel</h1>
    <div class="row">
        <div class="col-lg-7">
            <div class="my_text">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro voluptates tenetur quaerat eius.
                    Aspernatur tenetur eos veniam provident, unde omnis numquam dolorem maiores officiis est quam
                    accusantium, architecto quos quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                    vitae ex aut saepe, neque inventore sit iusto itaque facilis similique consequatur repudiandae nemo
                    aperiam veniam aliquid laborum distinctio cumque deleniti? Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Vitae minima mollitia ducimus voluptates enim molestiae eos eveniet sit, odio
                    placeat dolor facere exercitationem ad id esse, excepturi officiis cupiditate provident? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro voluptates tenetur quaerat eius.
                    Aspernatur tenetur eos veniam provident, unde omnis numquam dolorem maiores officiis est quam
                    accusantium, architecto quos quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                    vitae ex aut saepe, neque inventore sit iusto itaque facilis similique consequatur repudiandae nemo
                    aperiam veniam aliquid laborum distinctio cumque deleniti? Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Vitae minima mollitia ducimus voluptates enim molestiae eos eveniet sit, odio
                    placeat dolor facere exercitationem ad id esse,Lorem ipsum dolor sit amet consectetur adipisicing elit.  Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Vitae minima mollitia ducimus voluptates enim molestiae eos eveniet sit, odio
                    placeat dolor facere exercitationem ad id esse, excepturi officiis cupiditate provident?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro voluptates tenetur quaerat eius.
                    Aspernatur tenetur eos veniam provident, unde omnis numquam dolorem maiores officiis est quam
                    accusantium, architecto quos quis. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="my_img">
                <img src="assets/images/1.jpg" alt="">
            </div>

        </div>
    </div>
</div>

<!--Others-->
<div class="container blog pt-5">
    <div class="row">
        <h1 class="pt-5 pb-5">Others</h1>
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Channel</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Versace</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/1.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Valentino</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/3.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Channel</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Versace</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/1.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Valentino</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/3.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Channel</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Versace</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/1.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Valentino</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/3.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
    </div>
</div>
