<!--Jumbotron-->
<div class=" px-3 py-5 mb-4 bg-light jumbotron d-flex flex-column justify-content-center">
    <div class="row">
        <div class="col-lg-4 mb-3">
            <h1>Have any question?</h1>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What are your favorite sunglasses?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci nulla, eligendi sed excepturi
                        minima illo blanditiis fugiat laudantium quisquam laboriosam voluptates tempora qui iure eos.
                        Tempora, porro beatae. Possimus, autem!</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-lg-4">&emsp;</div>
        <div class="col-lg-4 mb-3">
            <h1>Look at these questions</h1>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What are your fave shoes?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum doloribus vitae veritatis ex
                        explicabo asperiores tempora facilis accusantium inventore, ducimus perspiciatis eaque harum
                        sequi dolor ab ad rem deserunt voluptates!</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-3">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What do you always have on?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquid iste suscipit aliquam,
                        aspernatur libero distinctio minima repellat amet quos dolore nisi sed, possimus quam ipsa
                        dolorum, veritatis voluptatibus labore? Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Debitis quia aliquam molestias at illo incidunt quibusdam natus tempore earum voluptatem
                        labore ullam, beatae similique, porro eaque magni nobis quo molestiae!Lorem</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-lg-4">&emsp;</div>
        <div class="col-lg-4 mb-3">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What are your favorite jeans?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quae eum incidunt, libero
                        repellendus quis numquam necessitatibus harum omnis obcaecati ipsam quas qui nisi consectetur
                        praesentium fugiat odio provident.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-3">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What is your favorite style to wear?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia ullam dicta nemo ipsa sit
                        aspernatur. Atque modi aliquam possimus officia, libero ex facere minima? Quae ullam perferendis
                        asperiores laudantium exercitationem! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Assumenda maxime ut sint molestias tempore vero officiis, a dolores facilis minima. Sint unde
                        iste quod, ducimus harum quam placeat dolor voluptatum!</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-lg-4">&emsp;</div>
        <div class="col-lg-4 mb-3">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Who is your fashion role model?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum quia nesciunt perspiciatis
                        rerum totam molestiae possimus quos mollitia ab!</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-3">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What are your favorite sunglasses?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci nulla, eligendi sed excepturi
                        minima illo blanditiis fugiat laudantium quisquam laboriosam voluptates tempora qui iure eos.
                        Tempora, porro beatae. Possimus, autem!</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-lg-4">&emsp;</div>
        <div class="col-lg-4 mb-3">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What are your fave shoes?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum doloribus vitae veritatis ex
                        explicabo asperiores tempora facilis accusantium inventore, ducimus perspiciatis eaque harum
                        sequi dolor ab ad rem deserunt voluptates!</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-3">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What are your favorite sunglasses?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci nulla, eligendi sed excepturi
                        minima illo blanditiis fugiat laudantium quisquam laboriosam voluptates tempora qui iure eos.
                        Tempora, porro beatae. Possimus, autem!</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-lg-4">&emsp;</div>
        <div class="col-lg-4 mb-3">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What are your fave shoes?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum doloribus vitae veritatis ex
                        explicabo asperiores tempora facilis accusantium inventore, ducimus perspiciatis eaque harum
                        sequi dolor ab ad rem deserunt voluptates!</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>


</div>