<!--Jumbotron-->
<div class="pb-5 mb-4 bg-light jumbotron d-flex flex-column justify-content-end align-items-end">
    <span class="pb-5 pe-5">
        <h1 class="display-5 fw-bold main_color">"Fashion is the armor to survive the reality of everyday life."</h1>
        <h2>Bill Cunningham</h2>
        <div class="text">
            <p>Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse
                dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis
                delectus
                repellat modi impedit sequi.</p>
        </div>

        <br>
        <button class="btn btn-primary btn-lg w-20" type="button">More Info</button>
    </span>
</div>

<!--Articles-->
<div class="container-fluid articles">
    <h1 class="pt-3 pb-3">Articles</h1>
    <!--One-->
    <div class="row ms-3 me-3 mb-3 my_card">
        <div class="col-lg-2">
            <div class="my_img">
                <img src="assets/images/1.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-10">
            <div class="my_text ps-3 pe-3">
                <h4 class="pt-3">Channel</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga libero incidunt et eveniet
                    eligendi?
                    Accusantium pariatur quidem labore nemo sed veritatis, provident distinctio quam molestias,
                    minus,
                    laborum magnam. Repellendus, odit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                    sunt deserunt adipisci et laboriosam suscipit rerum modi atque, expedita nulla maiores cum.
                    Optio at
                    officiis provident, quo cum obcaecati nesciunt! Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Dolorum provident eum ab voluptatibus natus fugiat, ipsum veniam corrupti ea voluptas
                    doloribus dolorem ex quos nemo? Sequi nemo minima fuga odit? Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit.Pariatur, eos repudiandae.</span>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-lg w-20 card_btn" type="button" routerLink="/article-details">Go to details >></button>
                </div>
            </div>
        </div>
    </div>
     <!--Two-->
    <div class="row ms-3 me-3 mb-3 my_card">
        <div class="col-lg-2">
            <div class="my_img">
                <img src="assets/images/2.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-10">
            <div class="my_text ps-3 pe-3">
                <h4 class="pt-3">Versace</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga libero incidunt et eveniet
                    eligendi?
                    Accusantium pariatur quidem labore nemo sed veritatis, provident distinctio quam molestias,
                    minus,
                    laborum magnam. Repellendus, odit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                    sunt deserunt adipisci et laboriosam suscipit rerum modi atque, expedita nulla maiores cum.
                    Optio at
                    officiis provident, quo cum obcaecati nesciunt! Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Dolorum provident eum ab voluptatibus natus fugiat, ipsum veniam corrupti ea voluptas
                    doloribus dolorem ex quos nemo? Sequi nemo minima fuga odit? Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit.Pariatur, eos repudiandae.</span>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-lg w-20 card_btn" type="button">Go to details >></button>
                </div>
            </div>
        </div>
    </div>
     <!--Three-->
    <div class="row ms-3 me-3 mb-3 my_card">
        <div class="col-lg-2">
            <div class="my_img">
                <img src="assets/images/3.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-10">
            <div class="my_text ps-3 pe-3">
                <h4 class="pt-3">Valentino</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga libero incidunt et eveniet
                    eligendi?
                    Accusantium pariatur quidem labore nemo sed veritatis, provident distinctio quam molestias,
                    minus,
                    laborum magnam. Repellendus, odit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                    sunt deserunt adipisci et laboriosam suscipit rerum modi atque, expedita nulla maiores cum.
                    Optio at
                    officiis provident, quo cum obcaecati nesciunt! Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Dolorum provident eum ab voluptatibus natus fugiat, ipsum veniam corrupti ea voluptas
                    doloribus dolorem ex quos nemo? Sequi nemo minima fuga odit? Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit.Pariatur, eos repudiandae.</span>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-lg w-20 card_btn" type="button">Go to details >></button>
                </div>
            </div>
        </div>
    </div>
     <!--Four-->
    <div class="row ms-3 me-3 mb-3 my_card">
        <div class="col-lg-2">
            <div class="my_img">
                <img src="assets/images/4.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-10">
            <div class="my_text ps-3 pe-3">
                <h4 class="pt-3">Hermes</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga libero incidunt et eveniet
                    eligendi?
                    Accusantium pariatur quidem labore nemo sed veritatis, provident distinctio quam molestias,
                    minus,
                    laborum magnam. Repellendus, odit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                    sunt deserunt adipisci et laboriosam suscipit rerum modi atque, expedita nulla maiores cum.
                    Optio at
                    officiis provident, quo cum obcaecati nesciunt! Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Dolorum provident eum ab voluptatibus natus fugiat, ipsum veniam corrupti ea voluptas
                    doloribus dolorem ex quos nemo? Sequi nemo minima fuga odit? Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit.Pariatur, eos repudiandae.</span>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-lg w-20 card_btn" type="button">Go to details >></button>
                </div>
            </div>
        </div>
    </div>
     <!--Five-->
    <div class="row ms-3 me-3 mb-3 my_card">
        <div class="col-lg-2">
            <div class="my_img">
                <img src="assets/images/8.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-10">
            <div class="my_text ps-3 pe-3">
                <h4 class="pt-3">Gucci</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga libero incidunt et eveniet
                    eligendi?
                    Accusantium pariatur quidem labore nemo sed veritatis, provident distinctio quam molestias,
                    minus,
                    laborum magnam. Repellendus, odit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                    sunt deserunt adipisci et laboriosam suscipit rerum modi atque, expedita nulla maiores cum.
                    Optio at
                    officiis provident, quo cum obcaecati nesciunt! Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Dolorum provident eum ab voluptatibus natus fugiat, ipsum veniam corrupti ea voluptas
                    doloribus dolorem ex quos nemo? Sequi nemo minima fuga odit? Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit.Pariatur, eos repudiandae.</span>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-lg w-20 card_btn" type="button">Go to details >></button>
                </div>
            </div>
        </div>
    </div>
     <!--Six-->
    <div class="row ms-3 me-3 mb-3 my_card">
        <div class="col-lg-2">
            <div class="my_img">
                <img src="assets/images/10.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-10">
            <div class="my_text ps-3 pe-3">
                <h4 class="pt-3">Dior</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga libero incidunt et eveniet
                    eligendi?
                    Accusantium pariatur quidem labore nemo sed veritatis, provident distinctio quam molestias,
                    minus,
                    laborum magnam. Repellendus, odit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                    sunt deserunt adipisci et laboriosam suscipit rerum modi atque, expedita nulla maiores cum.
                    Optio at
                    officiis provident, quo cum obcaecati nesciunt! Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Dolorum provident eum ab voluptatibus natus fugiat, ipsum veniam corrupti ea voluptas
                    doloribus dolorem ex quos nemo? Sequi nemo minima fuga odit? Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit.Pariatur, eos repudiandae.</span>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-lg w-20 card_btn" type="button">Go to details >></button>
                </div>
            </div>
        </div>
    </div>
     <!--Seven-->
    <div class="row ms-3 me-3 mb-3 my_card">
        <div class="col-lg-2">
            <div class="my_img">
                <img src="assets/images/4.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-10">
            <div class="my_text ps-3 pe-3">
                <h4 class="pt-3">Prado</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga libero incidunt et eveniet
                    eligendi?
                    Accusantium pariatur quidem labore nemo sed veritatis, provident distinctio quam molestias,
                    minus,
                    laborum magnam. Repellendus, odit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                    sunt deserunt adipisci et laboriosam suscipit rerum modi atque, expedita nulla maiores cum.
                    Optio at
                    officiis provident, quo cum obcaecati nesciunt! Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Dolorum provident eum ab voluptatibus natus fugiat, ipsum veniam corrupti ea voluptas
                    doloribus dolorem ex quos nemo? Sequi nemo minima fuga odit? Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit.Pariatur, eos repudiandae.</span>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-lg w-20 card_btn" type="button">Go to details >></button>
                </div>
            </div>
        </div>
    </div>
     <!--Eight-->
    <div class="row ms-3 me-3 mb-3 my_card">
        <div class="col-lg-2">
            <div class="my_img">
                <img src="assets/images/8.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-10">
            <div class="my_text ps-3 pe-3">
                <h4 class="pt-3">Givency</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga libero incidunt et eveniet
                    eligendi?
                    Accusantium pariatur quidem labore nemo sed veritatis, provident distinctio quam molestias,
                    minus,
                    laborum magnam. Repellendus, odit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                    sunt deserunt adipisci et laboriosam suscipit rerum modi atque, expedita nulla maiores cum.
                    Optio at
                    officiis provident, quo cum obcaecati nesciunt! Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Dolorum provident eum ab voluptatibus natus fugiat, ipsum veniam corrupti ea voluptas
                    doloribus dolorem ex quos nemo? Sequi nemo minima fuga odit? Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit.Pariatur, eos repudiandae.</span>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-lg w-20 card_btn" type="button">Go to details >></button>
                </div>
            </div>
        </div>
    </div>
     <!--Nine-->
    <div class="row ms-3 me-3 mb-3 my_card">
        <div class="col-lg-2">
            <div class="my_img">
                <img src="assets/images/2.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-10">
            <div class="my_text ps-3 pe-3">
                <h4 class="pt-3">Celine</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga libero incidunt et eveniet
                    eligendi?
                    Accusantium pariatur quidem labore nemo sed veritatis, provident distinctio quam molestias,
                    minus,
                    laborum magnam. Repellendus, odit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                    sunt deserunt adipisci et laboriosam suscipit rerum modi atque, expedita nulla maiores cum.
                    Optio at
                    officiis provident, quo cum obcaecati nesciunt! Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Dolorum provident eum ab voluptatibus natus fugiat, ipsum veniam corrupti ea voluptas
                    doloribus dolorem ex quos nemo? Sequi nemo minima fuga odit? Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit.Pariatur, eos repudiandae.</span>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-lg w-20 card_btn" type="button">Go to details >></button>
                </div>
            </div>
        </div>
    </div>
     <!--Ten-->
    <div class="row ms-3 me-3 mb-3 my_card">
        <div class="col-lg-2">
            <div class="my_img">
                <img src="assets/images/10.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-10">
            <div class="my_text ps-3 pe-3">
                <h4 class="pt-3">D&G</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga libero incidunt et eveniet
                    eligendi?
                    Accusantium pariatur quidem labore nemo sed veritatis, provident distinctio quam molestias,
                    minus,
                    laborum magnam. Repellendus, odit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                    sunt deserunt adipisci et laboriosam suscipit rerum modi atque, expedita nulla maiores cum.
                    Optio at
                    officiis provident, quo cum obcaecati nesciunt! Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Dolorum provident eum ab voluptatibus natus fugiat, ipsum veniam corrupti ea voluptas
                    doloribus dolorem ex quos nemo? Sequi nemo minima fuga odit? Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit.Pariatur, eos repudiandae.</span>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-lg w-20 card_btn" type="button">Go to details >></button>
                </div>
            </div>
        </div>
    </div>
</div>