<!--Jumbotron-->
<div class="p-5 mb-4 bg-light jumbotron d-flex flex-column justify-content-center">
    <span class="pt-5">
        <h1 class="display-5 fw-bold main_color">"Fashion is the armor to survive the reality of everyday life."</h1>
        <h2>Bill Cunningham</h2>
        <p class="col-md-8 fs-4">Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse
            dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus
            repellat modi impedit sequi.</p>
        <br>
        <button class="btn btn-primary btn-lg w-20" type="button">More Info</button>
    </span>
</div>

<!--Blog-->
<div class="container blog">
    <div class="row">
        <h1 class="pt-5 pb-5">Fashion Article's</h1>
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Channel</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/images/2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Versace</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/images/1.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Valentino</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/images/3.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Channel</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/images/2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Versace</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/images/1.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Valentino</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/images/3.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Channel</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/images/2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Versace</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/images/1.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <mat-card class="example-card">
                    <mat-card-header class="pb-3">
                        <mat-card-title>Valentino</mat-card-title>
                        <mat-card-subtitle>Fashion week</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/images/3.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="pt-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>MORE INFO</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
    </div>
</div>